 h1 {color: blue; text-decoration: underline; font-size: 20px; }
          #my-id {background-color: lightblue}
          .my-class {font-style: italic}
          .my-container {margin-right: auto; margin-left:  auto; max-width: 960px; padding-right: 10px; padding-left: 10px; border: 1px solid blue;}